Checks: >
  -*,
  bugprone-infinite-loop,
  bugprone-move-forwarding-reference,
  bugprone-narrowing-conversions,
  bugprone-use-after-move,
  clang-analyzer-core.DivideZero,
  clang-analyzer-core.NullDereference,
  clang-analyzer-core.StackAddressEscape,
  clang-analyzer-core.UndefinedBinaryOperatorResult,
  clang-analyzer-cplusplus.Move,
  clang-analyzer-cplusplus.NewDelete,
  clang-analyzer-cplusplus.NewDeleteLeaks,
  clang-analyzer-deadcode.DeadStores,
  concurrency-mt-unsafe,
  misc-move-constructor-init,
  misc-unused-alias-decls,
  misc-unused-using-decls,
  modernize-raw-string-literal,
  modernize-use-auto,
  modernize-use-default,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  performance-for-range-copy,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-unnecessary-copy-initialization,
  readability-avoid-const-params-in-decls,
  readability-braces-around-statements,
  readability-make-member-function-const,
  readability-redundant-member-init,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-static-definition-in-anonymous-namespace

HeaderFilterRegex: 'include/|src/|examples/|extensions/'
